# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
build
.vscode
index copy.vue
coupons copy 2.vue
coupons_copy.vue
android
capacitor.config.json
# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

test.js
yarn.lock
package-lock.json